<!DOCTYPE html>
<html>

<head>
  <link rel="icon" href="/images/favicon.ico" />
  <title>Home</title>
  <link rel='stylesheet' href='/stylesheets/style.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
  <nav class="navbar navbar-light bg-light" id="logobike"></nav>
  <div class="d-flex justify-content-center mb-2">
    <button onclick="location.href = '/logout'" class="btn orange-button btn-lg">Deslogar</button>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-12 col-md-3 btnunidade" position="center">
        <form action="/dashboardMirante" method="post">
          <button type="submit" class="font-botao">
            <FONT size="6" face="Poppins" color="black">
              Bem-Te-Vi
            </FONT>
          </button>
        </form>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 btnunidade" position="center">
        <form action="/dashboardMatriz" method="post">
          <button type="submit" class="font-botao">
            <FONT size="6" face="Poppins" color="black">
              Matriz
            </FONT>
          </button>
        </form>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-12 col-md-3 btnunidade" position="center">
        <form action="/dashboardVila" method="post">
          <button type="submit" class="font-botao">
            <FONT size="6" face="Poppins" color="black">
              Vila Pampulha
            </FONT>
          </button>
        </form>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-3 btnunidade" position="center">
        <form action="/dashboardContagem" method="post">
          <button type="submit" class="font-botao">
            <FONT size="6" face="Poppins" color="black">
              Shopping Contagem
            </FONT>
          </button>
        </form>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <button type="submit" class="col-xs-12 col-sm-12 col-md-2 btnrelatorio"
          onclick="location.href='/monthlyBalance'">
          Relat칩rio Mensal
        </button>
        <button type="submit" class="col-xs-12 col-sm-12 col-md-2 btnrelatorio"
          onclick="location.href='/dailyBalance'">
          Relat칩rio Di치rio
        </button>
        <button type="submit" class="col-xs-12 col-sm-12 col-md-2 btnrelatorio"
          onclick="location.href='/equipamentBalance'">
          Relat칩rio por Equipamentos
        </button>
        <button type="submit" class="col-xs-12 col-sm-12 col-md-2 btnrelatorio" onclick="location.href='/clientList'">
          Lista de Clientes
        </button>
      </div>
    </div>

  </div>
  </div>
</body>

</html>