<script src="/javascripts/newrent.js"></script>
<script src="/javascripts/jquery.js" charset="utf-8"></script>
{{!-- <script>partialPrice();</script> --}}

<nav class="navbar navbar-light bg-light" id="logobike"></nav>
<div class="pl-lg-5 pr-lg-5">
  <button class="btn btn-default" onclick="location.href='/dashboardClient/{{cpf}}'"> <i
      class="fa fa-shield fa-rotate-90 fa-3x" aria-hidden="true"></i> </button>
  <div class="texto-centro mb-3">
    <FONT id="titulo" size="6" face="Segoe UI Symbol" color="#3CB1FE">
      Pagamento
    </FONT>
  </div>

  