
<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <nav class="navbar navbar-light bg-light" id="logobike"></nav>
    <div class="texto-centro mb-4">
      <FONT size="6" color="#FF6501" >
        Esqueci minha senha
      </FONT>
    </div>
    <div class="col-md-5 container">
      <form action="/forgotPassword" method="post">
        <div class="cadastro">
          <div class="texto-centro">
            <label for="InputEmail1" ><FONT size="3" color="black" > Digite seu endereço de email</FONT></label>
          </div>
          <input type="text" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Seu email" name="user[userName]">
        </div>
        <div class="texto-centro mt-3">
          <button type="submit" class="botaoenviar">Entrar</button>
        </div>


      </form>
    </div>
  </body>
</html>
