<nav class="navbar navbar-light bg-light" id="logobike">
  <button class="btn btn-default" onclick="location.href='/dashboard'"> <i class="fa fa-shield fa-rotate-90 fa-3x" aria-hidden="true"></i>
  </button>
</nav>
      <div class="texto-centro">
        <FONT size="6" face="Segoe UI Symbol" color="#3CB1FE" >
          Novo Aluguel
        </FONT>
      </div>
      <div class="box">
        <form action="/newRent" method="post">
          <div class="novoaluguel">
            <div class="texto-centro">
              <label for="InputCpf" ><FONT size="4" face="Swis721 LtEx BT" color="black" >CPF</FONT></label>
            </div>
            <input type="text" maxlength="11" class="form-control "  id="InputCpf"  placeholder="XXXXXXXXXXX" name="rent[cpf]">{{cpf}}</input>

            <div class="cadastro">
              <div class="texto-centro mt-3">
                <label for="InputEquipamento" ><FONT size="4" face="Swis721 LtEx BT" color="black" >Local de retirada</FONT></label>
                <select id="productCode" class="drowdownoptions form-control" name="rent[startLocal]" required = "required">
                  <option value disabled selected>Loja de retirada</option>
                  <option value="Mirante Bem-Ti-Vi">Mirante Bem-Ti-Vi</option>
                  <option value="Matriz">Matriz</option>
                  <option value="Vila Pampulha">Vila Pampulha</option>
                  <option value="Shopping Contagem">Shopping Contagem</option>                
                </select>
              </div>
            </div>

            <div class="cadastro row mt-3">
              <div class="col-4">
                <div class="texto-centro">
                  <label for="InputNumerodepessoas" ><FONT size="4" face="Swis721 LtEx BT" color="black" >Quantidade </FONT></label>
                </div>
                <input type="number" class="form-control" id="InputNumerodepessoas"  placeholder="X" name="rent[quantity]">
              </div>
              <div class="col-8">
                <div class="cadastro">
                  <div class="texto-centro">
                    <label for="InputEquipamento" ><FONT size="4" face="Swis721 LtEx BT" color="black" > Equipamento</FONT></label>
                    <select id="productCode" class="drowdownoptions form-control" name="rent[equipamentName]" required = "required">
                    <option value disabled selected> Tipo</option>
                    <option value="Bicicleta aro 26">Bicicleta aro 26</option>
                    <option value="Bicicleta com marcha aro 29">Bicicleta com marcha aro 29</option>                    
                    <option value="Bicicleta Freeride">Bicicleta Freeride</option>
                    <option value="Bicicleta Dupla">Bicicleta Dupla</option>
                    <option value="Bicicleta Comum">Bicicleta Comum</option>
                    <option value="Bicicleta Tripla">Bicicleta Tripla</option>
                    <option value="Bicicleta Triciclo Família">Bicicleta Triciclo Família</option>
                    <option value="Triciclo">Triciclo</option>
                    <option value="Triciclo Trenzinho">Triciclo Trenzinho</option>
                    <option value="Skate">Skate</option>
                    <option value="Patinete">Patinete</option>
                    <option value="Patins">Patins</option>
                    <option value="Carrinho de Rolimã">Carrinho de Rolimã</option> 
                    <option value="Outros">Outros</option>
                    </select>
                  </div>
                </div>
              </div>              
            </div>
          </div>

       <div class="form-group form-check mt-3">
           <input type="checkbox" class="form-check-input"  name="rent[accessory]" >
           <label class="form-check-label"  for="exampleCheck1"><FONT size="3" face="Swis721 LtEx BT" color="black" >Levou acessório?</FONT></label>
        </div>
         
        <div class="texto-centro">
          <button type="submit" class="btncadastrar">Iniciar</button>
        </div>        

        </form>
      </div>
