<h3 class="text-CPE-yellow">PAGAMENTO</h3>
<h3 class="text-CPE-yellow">CPF: {{result.cpf}}</h3>
<h3 class="text-CPE-yellow">PREÇO: {{result.preço}}</h3>
<h3 class="text-CPE-yellow">TEMPO: {{result.tempo}}</h3>

<form action="/encerrar/{{aluguel}}" method="post">
 <div class="btntest col-4">
   <button type="submit" class="btn_acomp_master" >Encerrar</button> </div>
 </form>
