<nav class="navbar navbar-light bg-light" id="logobike">

</nav>
     <div class="texto-centro">
       <div class="texto-centro">
         <FONT size="6" face="Segoe UI Symbol" color="#3CB1FE" >
       Pagamento
       </FONT>
       </div>
       <br>
<h3 class="pagamento">CPF: {{result.cpf}}</h3>
<h3 class="pagamento">PREÇO: {{result.preço}}</h3>
<h3 class="pagamento">TEMPO: {{result.tempo}}</h3>

<form action="/encerrar/{{aluguel}}" method="post">
  <div class="form-group form-check">
      <input type="radio" class="form-check-input"  id="exampleCheck1" value="Cartao" name="alugado[pagamento]" >
      <label class="form-check-label"  for="exampleCheck1"><FONT size="3" face="Swis721 LtEx BT" color="black" > Cartão</FONT></label>
    </div>
  <div class="form-group form-check">
      <input type="radio" class="form-check-input"  id="exampleCheck1" value="Dinheiro" name="alugado[pagamento]" >
      <label class="form-check-label"  for="exampleCheck1"><FONT size="3" face="Swis721 LtEx BT" color="black" >Dinheiro</FONT></label>
    </div>
 <div class="btntest col-4">
   <button type="submit" class="btn_encerrar" >Encerrar</button> </div>
 </form>
</div>
