<style>
  .required:after {
    content:" *";
    color: red;
}
</style>

<nav class="navbar navbar-light bg-light" id="logobike"></nav>
<div class="pl-lg-5 pr-lg-5">
  <button class="btn btn-default" onclick="location.href='/dashboard'"> <i class="fa fa-shield fa-rotate-90 fa-3x" aria-hidden="true"></i> </button>
  <div class="texto-centro mb-3">
    <FONT size="6" face="Segoe UI Symbol" color="#3CB1FE" >
      Cadastro de novos clientes
    </FONT>
  </div>
<div class="pl-lg-5 pr-lg-5">
  <form action="/signup" method="post">

<div class="mt-3 row">
  <div class="col-lg-6">
    <div class="cadastro">
      <div class="texto-centro">
        <label for="InputEmail1" class="required"><FONT size="5" face="Swis721 LtEx BT" color="black">Nome</FONT></label>
      </div>
      <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Nome com espaço" name="client[name]" autofocus required>
    </div>

    <div class="cadastro">
      <div class="texto-centro">
        <label for="InputEmail1" class="required"><FONT size="5" face="Swis721 LtEx BT" color="black" >CPF</FONT></label>
      </div>
      <input type="text" class="form-control" id="cpf" aria-describedby="emailHelp"  placeholder="Apenas números" name="client[cpf]" required>
    </div>

    <div class="cadastro">
        <div class="texto-centro">
          <label for="InputEmail1" class="required"><FONT size="5" face="Swis721 LtEx BT" color="black" >RG</FONT></label>
        </div>
      <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="RG sem caracteres especiais" name="client[rg]" required>
    </div>

  </div>

  <div class="col-lg-6">
    <div class="cadastro">
      <div class="texto-centro">
        <label  ><FONT size="5" face="Swis721 LtEx BT" color="black" > Endereço de e-mail</FONT></label>
      </div>
      <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Seu e-mail" name="client[email]" >
    </div>

    <div class="cadastro">
        <div class="texto-centro">
          <label ><FONT size="5" face="Swis721 LtEx BT" color="black" > Telefone </FONT></label>
        </div>
        <input type="text" class="form-control telefone" id="telefone" aria-describedby="emailHelp" placeholder="(xx) xxxxx-xxxx" name="client[phone]">
  </div>

    <div class="cadastro">
      <div class="texto-centro">
        <label for="InputEmail1" ><FONT size="5" face="Swis721 LtEx BT" color="black" > Data de Nascimento </FONT></label>
      </div>
      <input type="date" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="xx/xx/xxxx" name="client[birth]">
    </div>

  </div>

  </div>

    <div class="cadastro">
      <div class="texto-centro">
        <label for="InputEmail1" ><FONT size="5" face="Swis721 LtEx BT" color="black" > Endereço</FONT></label>
      </div>
      <input type="text" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Logradouro e número " name="client[address]">
    </div>
    <br>
      <div class="texto-centro">
        <button type="submit" class="btncadastrar">Cadastrar</button>
      </div>
  </form>

</div>

<script type="text/javascript" src="/javascripts/jquery.mask.min.js"></script>
<script src="/javascripts/mask.js" charset="utf-8"></script>
